@font-face {
  font-family: "iconfont";
  src: url("iconfont.ttf?t=1587021891919") format("truetype"); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book-mark:before {
  content: "\e6bb";
}

.icon-delete:before {
  content: "\e608";
}

.icon-edit:before {
  content: "\e612";
}

.icon-light:before {
  content: "\e61e";
}

.icon-dark:before {
  content: "\e63f";
}

.icon-add:before {
  content: "\ec6a";
}

.icon-seach:before {
  content: "\e7b1";
}

.icon-iconback:before {
  content: "\e63c";
}

.icon-add-shelf:before {
  content: "\e66f";
}

.icon-Book-Shopping:before {
  content: "\ec69";
}

.icon-Personalcenter:before {
  content: "\e61b";
}

.icon-self:before {
  content: "\e614";
}

.icon-selected:before {
  content: "\e601";
}
