body {
  color: #000;
}
#app {
  background-color: #f1f1f1;
}

.themeControl {
  background-color: #f1f1f1;
}

.contentCatalog {
  background-color: #f1f1f1;
}

.readerControls {
  background-color: #f1f1f1;
}
